.total-pendencia {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

h2 {
    color: #0f172a;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
}

svg {
    font-size: 22px;
    color: #ec0e33;
}

p {
    font-size: 32px;
    font-weight: 700;
    color: #ec0e33;
}